<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>DrugDev Icons Demo</title>

		<link rel="stylesheet" text="text/css" href="/assets/drugdev-icons.css">
	</head>
	<body>
		<style>
.icon-list {
	border: #aaa solid 1px;
	color: #666;
	font-size: 18px;
	margin: 50px auto;
	padding: 50px;
	width: 600px;
}

.icon {
	float: left;
	margin-bottom: 20px;
	width: 200px;
}

.clear {
	clear: both;
}
		</style>

		<div class="icon-list">
			<% DrugDev::Icons.list.each do |icon| %>
				<div class="icon">
					<i class="ddi-<%= icon %>"></i> ddi-<%= icon %>
				</div>
			<% end %>
			<div class="clear"></div>
		</div>
	</body>
</html>
