/**
 * DrugDev Icons
 */
//= depend_on_asset "DrugDev-icons.eot"
//= depend_on_asset "DrugDev-icons.woff"
//= depend_on_asset "DrugDev-icons.ttf"
//= depend_on_asset "DrugDev-icons.svg"

@font-face {
	font-family: 'DrugDev-icons';
	src: url('<%= font_path('DrugDev-icons.eot') %>');
	src: url('<%= font_path('DrugDev-icons.eot') %>#iefix') format('embedded-opentype'), url('<%= font_path('DrugDev-icons.woff') %>') format('woff'), url('<%= font_path('DrugDev-icons.ttf') %>') format('truetype'), url('<%= font_path('DrugDev-icons.svg') %>#DrugDev-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ddi-"], [class*=" ddi-"] {
	font-family: 'DrugDev-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ddi-add-activity:before {
    content: "\e900";
}
.ddi-add-note:before {
    content: "\e901";
}
.ddi-add:before {
    content: "\e902";
}
.ddi-alert:before {
    content: "\e903";
}
.ddi-bullseye:before {
    content: "\e904";
}
.ddi-calendar:before {
    content: "\e905";
}
.ddi-charts:before {
    content: "\e906";
}
.ddi-checkmark:before {
    content: "\e907";
}
.ddi-close:before {
    content: "\e908";
}
.ddi-collapse:before {
    content: "\e909";
}
.ddi-dashboard:before {
    content: "\e90a";
}
.ddi-document:before {
    content: "\e90b";
}
.ddi-down-arrow:before {
    content: "\e90c";
}
.ddi-down-arrow2:before {
    content: "\e90d";
}
.ddi-due-date:before {
    content: "\e90e";
}
.ddi-edit:before {
    content: "\e90f";
}
.ddi-expand:before {
    content: "\e910";
}
.ddi-export:before {
    content: "\e911";
}
.ddi-fail:before {
    content: "\e912";
}
.ddi-folder:before {
    content: "\e913";
}
.ddi-help:before {
    content: "\e914";
}
.ddi-history:before {
    content: "\e915";
}
.ddi-hourglass:before {
    content: "\e916";
}
.ddi-import:before {
    content: "\e917";
}
.ddi-info:before {
    content: "\e918";
}
.ddi-input-check:before {
    content: "\e919";
}
.ddi-mail:before {
    content: "\e91a";
}
.ddi-menu:before {
    content: "\e91b";
}
.ddi-multiple-sites:before {
    content: "\e91c";
}
.ddi-network-switcher:before {
    content: "\e91d";
}
.ddi-paperclip:before {
    content: "\e91e";
}
.ddi-print:before {
    content: "\e91f";
}
.ddi-recent-updates:before {
    content: "\e920";
}
.ddi-right-arrow:before {
    content: "\e921";
}
.ddi-search:before {
    content: "\e922";
}
.ddi-single-item:before {
    content: "\e923";
}
.ddi-single-site:before {
    content: "\e924";
}
.ddi-speech-bubble:before {
    content: "\e925";
}
.ddi-survey:before {
    content: "\e926";
}
.ddi-trash:before {
    content: "\e927";
}
.ddi-upload:before {
    content: "\e928";
}

